output.json
bauer-doc-suggestions.json
bauer-log.json
*-creds.json
*.log
/.github/copilot-instructions.md
.env.local-e
.env.local
.workshop.lock
# BAU output
bauer-output/
.DS_Store
.vscode
!.vscode/extensions.json
*.exe
bauer
# Added by goreleaser init:
dist/
